@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@font-face {
    font-family:'NanumBarunGothic';
    src: url("../font/NanumBarunGothic.woff") format('woff'); 
}
@font-face {
    font-family:'NanumBarunGothicBold';
    src: url("../font/NanumBarunGothicBold.woff") format('woff'); 
}
@font-face {
    font-family:'NanumBarunGothicLight';
    src: url("../font/NanumBarunGothicLight.woff") format('woff'); 
}
@font-face {
    font-family:'NanumBarunGothicExtraLight';
    src: url("../font/NanumBarunGothicUltraLight.woff") format('woff'); 
}


#wrap{
	background:#F2F2F2;
	color:#333;
	font-family: 'NanumBarunGothic';
	font-weight:300;
	font-size:16px;
}
#navi.slideUp {
	transform: translateY(-100%);
	transition:all 0.3s;
}

#navi {
	background:#f2f2f26b;
	position:fixed;	
	width:100vw;
	z-index:10000;
}
#navi h1 {
	float:left;
	margin:15px 50px 0;
	width:40px;
	height:40px;
	background:url(../image/3.design/logo_black.png) no-repeat center center;
	background-size:contain;
}
.main-nav {
	position:relative;
	float:left;
	height:60px;
	margin:10px 0 0 50px;
}
.main-nav li {
	list-style:none;	
	display:inline-block;
	margin:12px 30px;
}
.main-nav a {
	font-family:Arial;
	font-size:20px;
	text-decoration: none;
}
.container {
	min-height:730px;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	overflow:hidden;
	margin:0;
}
.bg-holder{
  width:100%;
  height:100%;
}

.section_in{
	position:relative;
	width:1280px;
	/* height:100%; */
	margin:0 auto;
}

section#visual{background-image:url("../image/3.design/graphic_10/graphic_10_title.jpg");}
section#visual .section_in{height:100%;}
section#visual .section_in h3{
	/* color:#fff; */
	text-shadow:5px 5px 10px rgba(0,0,0,0.1);
	position:absolute;
	left:40px;
	bottom:320px;
	font-size:36px;
	/* color:#020659; */
	font-family: 'NanumBarunGothicBold';
}
section#visual .section_in h3>img{
	display: block;
	height:25px;
	margin-bottom:10px;
}
section#visual .section_in h3>span{
	font-size:20px;
	margin-left: 20px;
	font-weight:100;
	font-family: 'NanumBarunGothicLight';
}
section#concept{
	background:#F2F2F2;
	margin-top:-300px;
	height:700px;
}
section#concept .overview_text{margin:0 60px;padding-top:100px;}
section#concept h4{
	color:#999;
	float:left;
	font-size:28px;
	font-family: 'Righteous', cursive;
	width:160px;
}
section#concept .overview_text>div{
	float:left;
	width:1000px;
	margin-top:5px;
	line-height:36px;
	font-size:18px;
}
section#concept .overview_text div>span{
	/* font-weight:500; */
	font-family: 'NanumBarunGothicBold';
	color:#000;
}

section#concept .overview_text div ul {margin-top:10px;font-size:16px;}
section#concept .overview_text div ul li{float:left;padding:0 10px;}
section#concept .overview_text div>ul>li{margin-right:40px;}
section#concept .overview_text div>ul>li>ul>li:first-child{color:#999;font-size:14px;}
div.work_range{
	display:inline-block;
	width:300px;
	height:30px;
	border:1px solid #999;
	border-radius:20px;
	text-align: center;
	color:#F2F2F2;
	overflow: hidden;
	line-height: 28px;
	font-weight:500;
}
div.work_range div{
	width:300px;
	height:100%;
	background-color: #999;
	animation: range 1s ease-in-out;
	overflow: hidden;
}
@keyframes range {
	0%{width:0%;background-color:#666;}
}
img.tool{
	width:30px;
	height:30px;
}

section#concept .keyword,section#concept .color{margin:60px 60px 0;}
section#concept .keyword>ul, section#concept .color>ul{width:1000px;margin-left:160px}
section#concept .keyword ul li{float:left;line-height: 100px;}
section#concept .keyword ul li:nth-child(1){
	width:100px;
	height:100px;
	border-radius: 50%;
	background:#ffff00;
	line-height: 100px;
	text-align: center;
	font-weight: bold;
	border:1px solid #999;
	margin-right:20px;
}
section#concept .color>ul>li>ul>li{float:left;height:60px;line-height: 60px;text-align: center;}

section#concept .color>ul>li:first-child>ul>li{background:#ffff00;margin-bottom:20px;}
section#concept .color>ul>li:last-child{clear:both;}
section#concept .color>ul>li:last-child>ul>li{background:#444;color:#fff;}

section#concept .color>ul>li>ul>li:nth-child(1){width:160px;}
section#concept .color>ul>li>ul>li:nth-child(2){width:200px;}
section#concept .color>ul>li>ul>li:nth-child(2) span{
	padding:6px 10px;
	font-size: 14px;
	border:1px solid #999;
	border-radius: 20px;
	margin-right:10px;
}
section#concept .color>ul>li>ul>li:nth-child(3){width:200px;}
section#concept .color>ul>li>ul>li:nth-child(4){width:300px;}

section#process{background:url(../image/3.design/graphic_10/graphic_10_process.jpg);}
section#process .process_text{
	margin:0 60px;
	padding-top:100px;
}
section#process .process_text h4{
	color:#666;
	font-size:28px;
	font-family: 'Righteous', cursive;
}
section#process .process_text hr{
	width:50px;
	height:5px;
	background:#999;
	border:none;
	margin:5px 0;
}

section#output {background: url(../image/3.design/graphic_10/graphic_10_output_bg.jpg);}
#output h4{
	color:#999;
	padding:100px 60px 0;
	font-size:28px;
	font-family: 'Righteous', cursive;
}
#output hr{
	width:50px;
	height:5px;
	background:#999;
	border:none;
	margin:5px 60px;
}
#output ul.output_in{
	margin:10px auto;
	width:1040px;
}
#output ul.output_in>li{
	float:left;
	margin-right:20px;
	text-align: center;
}
#output ul.output_in>li>div{
	margin-top:10px;
	width:170px;
	height:200px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
#output ul.output_in>li:nth-child(1)>div{background-image:url(../image/3.design/graphic_10/graphic_10_output_1.png);}
#output ul.output_in>li:nth-child(2)>div{background-image:url(../image/3.design/graphic_10/graphic_10_output_2.png);background-color:#000;}
#output ul.output_in>li:nth-child(3)>div{background-image:url(../image/3.design/graphic_10/graphic_10_output_3.png);}
#output ul.output_in>li:nth-child(4)>div{background-image:url(../image/3.design/graphic_10/graphic_10_output_4.png);background-color:#000;}

#output ul.output_in>li.variation{
	clear:both;
	margin-top:40px;
	text-align: left;
	background: linear-gradient(to right,transparent 0%, #000 33%,#ffee25 34%,#e3302e 66%,#009b3f 67%, #0067b0 100%);
}
#output ul.output_in>li.variation ul li {
	float:left;
	height:100px;
	padding:10px 0;
	margin-top:10px;
}
#output ul.output_in>li.variation ul li div{
	width:100px;
	height:inherit;
	background-size: contain;
	background-repeat: no-repeat;
}
#output ul.output_in>li.variation ul li:nth-child(1) div{background-image:url(../image/3.design/graphic_10/graphic_10_output_3.png);}
#output ul.output_in>li.variation ul li:nth-child(2) div{background-image:url(../image/3.design/graphic_10/graphic_10_output_2.png);}
#output ul.output_in>li.variation ul li:nth-child(3) div{background-image:url(../image/3.design/graphic_10/graphic_10_output_4.png);}
#output ul.output_in>li.variation ul li:nth-child(4) div{background-image:url(../image/3.design/graphic_10/graphic_10_output_3.png);}
#output ul.output_in>li.variation ul li:nth-child(5) div{background-image:url(../image/3.design/graphic_10/graphic_10_output_3.png);}
#output ul.output_in>li.variation ul li:nth-child(6) div{background-image:url(../image/3.design/graphic_10/graphic_10_output_1.png);}
#output ul.output_in>li.variation ul li:nth-child(7) div{background-image:url(../image/3.design/graphic_10/graphic_10_output_1.png);}
#output ul.output_in>li.variation ul li:nth-child(8) div{background-image:url(../image/3.design/graphic_10/graphic_10_output_4.png);}
#output ul.output_in>li.variation ul li:nth-child(9) div{background-image:url(../image/3.design/graphic_10/graphic_10_output_2.png);}