@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@font-face {
    font-family:'NanumBarunGothic';
    src: url("../font/NanumBarunGothic.woff") format('woff'); 
}
@font-face {
    font-family:'NanumBarunGothicBold';
    src: url("../font/NanumBarunGothicBold.woff") format('woff'); 
}
@font-face {
    font-family:'NanumBarunGothicLight';
    src: url("../font/NanumBarunGothicLight.woff") format('woff'); 
}
@font-face {
    font-family:'NanumBarunGothicExtraLight';
    src: url("../font/NanumBarunGothicUltraLight.woff") format('woff'); 
}


#wrap{
	background:#F2F2F2;
	color:#333;
	font-family: 'NanumBarunGothic';
	font-weight:300;
	font-size:16px;
}
#navi.slideUp {
	transform: translateY(-100%);
	transition:all 0.3s;
}

#navi {
	background:#f2f2f26b;
	position:fixed;	
	width:100vw;
	z-index:10000;
}
#navi h1 {
	float:left;
	margin:15px 50px 0;
	width:40px;
	height:40px;
	background:url(../image/3.design/logo_black.png) no-repeat center center;
	background-size:contain;
}
.main-nav {
	position:relative;
	float:left;
	height:60px;
	margin:10px 0 0 50px;
}
.main-nav li {
	list-style:none;	
	display:inline-block;
	margin:12px 30px;
}
.main-nav a {
	font-family:Arial;
	font-size:20px;
	text-decoration: none;
}
.container {
	min-height:730px;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	overflow:hidden;
	margin:0;
}
.bg-holder{
  width:100%;
  height:100%;
}

.section_in{
	position:relative;
	width:1280px;
	/* height:100%; */
	margin:0 auto;
}

section#visual{background-image:url("../image/3.design/graphic_11/graphic_11_title.jpg");}
section#visual .section_in{height:100%;}
section#visual .section_in h3{
	color:#fff;
	text-shadow:5px 5px 10px rgba(0,0,0,0.1);
	position:absolute;
	left:40px;
	bottom:320px;
	font-size:36px;
	font-family: 'NanumBarunGothicBold';
}
section#visual .section_in h3>img{
	display: block;
	height:25px;
	margin-bottom:10px;
}
section#visual .section_in h3>span{
	font-size:20px;
	margin-left: 20px;
	font-weight:100;
	font-family: 'NanumBarunGothicLight';
}
section#concept{
	background:#F2F2F2;
	margin-top:-300px;
	height:760px;
}
section#concept .overview_text{margin:0 60px;padding-top:100px;}
section#concept h4{
	color:#999;
	float:left;
	font-size:28px;
	font-family: 'Righteous', cursive;
	width:160px;
}
section#concept .overview_text>div{
	float:left;
	width:1000px;
	margin-top:5px;
	line-height:36px;
	font-size:18px;
}
section#concept .overview_text div>span{
	/* font-weight:500; */
	font-family: 'NanumBarunGothicBold';
	color:#000;
}

section#concept .overview_text div ul {margin-top:10px;font-size:16px;}
section#concept .overview_text div ul li{float:left;padding:0 10px;}
section#concept .overview_text div>ul>li{margin-right:40px;}
section#concept .overview_text div>ul>li>ul>li:first-child{color:#999;font-size:14px;}
div.work_range{
	display:inline-block;
	width:300px;
	height:30px;
	border:1px solid #999;
	border-radius:20px;
	text-align: center;
	color:#F2F2F2;
	overflow: hidden;
	line-height: 28px;
	font-weight:500;
}
div.work_range div{
	width:300px;
	height:100%;
	background-color: #999;
	animation: range 1s ease-in-out;
	overflow: hidden;
}
@keyframes range {
	0%{width:0%;background-color:#666;}
}
img.tool{
	width:30px;
	height:30px;
}

section#concept .refer{margin:60px 60px 0;}
section#concept .refer>ul{
	width:1000px;
	margin-left:160px
}
section#concept .refer ul li{
	float:left;
	width:300px;
	margin-right:20px;
	border:1px solid #999;
}


section#process{background:#0d345d;height:800px;}
section#process .process_text{
	margin:0 60px;
	padding-top:100px;
}
section#process .process_text h4{
	color:#f2f2f2;
	font-size:28px;
	font-family: 'Righteous', cursive;
}
section#process .process_text hr{
	width:50px;
	height:5px;
	background:#f2f2f2;
	border:none;
	margin:5px 0;
}
section#process table{
	color:#fff;
	text-align: center;
	margin-left:60px;
	margin-top:60px;
	font-family:'NanumBarunGothicUltraLight';
	font-size:14px;
}
section#process table tr{
	border:1px solid rgba(255,255,255,0.4);
	border-left:none;
	border-right:none;
}
section#process table tr:first-child{height:60px;font-family:'NanumBarunGothicBold';font-size:16px;}
section#process table tr:nth-child(2){height:100px;}
section#process table tr:nth-child(3){height:300px;background:#f2f2f2;color:#333;}
section#process table tr td:first-child{width:100px;font-family:'NanumBarunGothicBold';font-size:16px;}
section#process table tr td{
	width:180px;
}

section#output {background: url(../image/3.design/graphic_11/graphic_11_output_bg.jpg);}
#output h4{
	color:#999;
	padding:100px 60px 0;
	font-size:28px;
	font-family: 'Righteous', cursive;
}
#output hr{
	width:50px;
	height:5px;
	background:#999;
	border:none;
	margin:5px 60px;
}
#output ul.output_in{
	margin:100px auto 0;
	width:1040px;
}
#output ul.output_in>li>ul{
	float:left;
	width:150px;
	margin-right:20px;
	text-align: center;
	font-family:'NanumBarunGothicBold';
}
#output ul.output_in>li>ul>li:first-child{
	height:40px;
	line-height:40px;
	border-bottom:1px solid #999;
}
#output ul.output_in>li>ul>li:nth-child(2),#output ul.output_in>li>ul>li:nth-child(3){
	height:150px;
	margin-top:40px;
}