@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@font-face {
    font-family:'NanumBarunGothic';
    src: url("../font/NanumBarunGothic.woff") format('woff'); 
}
@font-face {
    font-family:'NanumBarunGothicBold';
    src: url("../font/NanumBarunGothicBold.woff") format('woff'); 
}
@font-face {
    font-family:'NanumBarunGothicLight';
    src: url("../font/NanumBarunGothicLight.woff") format('woff'); 
}
@font-face {
    font-family:'NanumBarunGothicExtraLight';
    src: url("../font/NanumBarunGothicUltraLight.woff") format('woff'); 
}

/*Typo*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@font-face {
    font-family:'Samlip';
    src: url("../font/SDSamliphopangcheTTFBasic.woff") format('woff'); 
}
@font-face {
    font-family:'SCDream6';
    src: url("../font/SCDream6.woff") format('woff'); 
}


#wrap{
	background:#F2F2F2;
	color:#333;
	font-family: 'NanumBarunGothic';
	font-weight:300;
	font-size:16px;
}

/*____________________________________원페이지 탑메뉴*/
#navi.slideUp {
	transform: translateY(-100%);
	transition:all 0.3s;
}

#navi {
	background:#f2f2f26b;
	position:fixed;	
	width:100vw;
	z-index:10000;
}
#navi h1 {
	float:left;
	margin:15px 50px 0;
	width:40px;
	height:40px;
	background:url(../image/3.design/logo_black.png) no-repeat center center;
	background-size:contain;
}
.main-nav {
	position:relative;
	float:left;
	height:60px;
	margin:10px 0 0 50px;
}
.main-nav li {
	list-style:none;	
	display:inline-block;
	margin:12px 30px;
}
.main-nav a {
	font-family:Arial;
	font-size:20px;
	text-decoration: none;
}

/*____________________________________공통적용 사항*/
.container {
	min-height:730px;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	overflow:hidden;
	margin:0;
}
.bg-holder{
  width:100%;
  height:100%;
}

.section_in{
	position:relative;
	width:1280px;
	height:800px;
	padding:calc((100vh - 800px)/2) 0;
	margin:0 auto;
	/* border:1px solid yellow; */
}
h4{
	font-size:28px;
	font-family: 'Righteous', cursive;
}
hr{
	width:50px;
	height:5px;
	border:none;
}

/*____________________________________비주얼*/
section#visual{
	background:url(../image/3.design/ui_7/ui_7_title.jpg) center center no-repeat;
	background-size:cover;
}

/*개요*/
#visual .visual_in_left{
	padding:250px 20px 50px 40px;
	width:500px;
	height:530px;
}
#visual .visual_in_left img.logo{
	height:20px;
}
#visual .visual_in_left h3{
	font-size:36px;
	font-family: 'NanumBarunGothicBold';
	margin:10px 0 50px;
}
#visual .visual_in_left h3 span{
	font-size:20px;
	font-weight:100;
	margin-left: 20px;
	font-family: 'NanumBarunGothicLight';
}
/* #visual .visual_in_left .overview_text{margin-left:20px;} */
#visual .visual_in_left .overview_text h4{color:#999;}
#visual .visual_in_left .overview_text hr{
	background:#999;
	margin:10px 10px 20px;
}
#visual .visual_in_left .overview_text>div{
	line-height:36px;
	font-size:18px;
}
#visual .visual_in_left .overview_text>ul{
	margin-top:20px;
	font-size:16px;
	line-height:30px;
}
#visual .visual_in_left .overview_text>ul>li{
	float:left;
	margin-right:20px;
}
#visual .visual_in_left .overview_text>ul>li>ul>li{
	float:left;
	margin-right:10px;
}
#visual .visual_in_left .overview_text>ul>li>ul>li>div.work_range{
	width:180px;
	height:25px;
	border:1px solid #fff;
	border-radius: 30px;
}
.work_range div{
	width:176px;
	height:21px;
	background:#fff;
	color:#333;
	line-height:21px;
	text-align: center;
	border-radius: 30px;
	margin:2px 2px;
	animation: work_range 1s 1s;
	overflow: hidden;
}
@keyframes work_range {
	0%{width:0;opacity:0;}
}
#visual .visual_in_left .overview_text>ul>li>ul>li>img.tool{
	width:30px;
	height:30px;
	margin-right:5px;
}
#visual div .device_computer{
	background:url(../image/3.design/ui_7/ui_7_title_1.png) no-repeat center center;
	background-size:cover;
	width:600px;
	height:518px;
	position:absolute;
	bottom:20px;
	right:100px;
	animation: computer 1s;
}
@keyframes computer {
	0%{right:-100px;opacity: 0;}
}

/*____________________________________컨셉*/
section#concept{
	background:#BFF272;
}
section#concept h4{color:#666;padding:70px 0 0 40px;}
section#concept hr{
	background:#666;
	margin:10px 50px;
}

/* anaysis / DesignConcept / Keywords */
section#concept dl.concept_in_left{
	float:left;
	width:400px;
	/* border:1px solid greenyellow; */
	margin:120px 0 0 40px;
}
section#concept dl.concept_in_left dt{
	font-size:20px;
	font-family: 'Righteous', cursive;
	color:#666;
	margin-bottom:10px;
}
section#concept dl.concept_in_left dd{
	line-height:30px;
	font-family: 'NanumBarunGothicLight';
	margin-bottom:30px;
}
dl.concept_in_left dd ul li{
	float:left;
	border:1px solid #333;
	padding:2px 15px;
	border-radius: 20px;
	margin-right:5px;
}

/* MoodBoard / Tyop / Color*/
section#concept dl.concept_in_right{
	float:left;
	width:760px;
	height:700px;
	margin:-10px 0 0 60px;
}
section#concept dl.concept_in_right dt{
	width:180px;
	height:40px;
	float:left;
	font-size:26px;
	font-family: 'Righteous', cursive;
	color:#666;
	margin-right:40px;
	text-align: right;
}
section#concept dl.concept_in_right dd{float:left;}
section#concept dl.concept_in_right dd{
	width:520px;
	margin-bottom:30px;
}
section#concept dl.concept_in_right dd:nth-of-type(1){
	height:300px;
	background:url(../image/3.design/ui_7/ui_7_concept_mood.jpg) center center;
	background-size:cover;
}
section#concept dl.concept_in_right dd:nth-of-type(2){
	height:100px;
}
dl.concept_in_right dd:nth-of-type(2) ul li{float:left;}
dl.concept_in_right dd:nth-of-type(2) ul li.color_title{
	line-height:100px;
	font-family:'NanumGothicBold'
}
dl.concept_in_right dd:nth-of-type(2) ul li{
	height:80px;
	line-height:80px;
	font-size:14px;
	text-align: center;
}
dl.concept_in_right dd:nth-of-type(2) ul li:nth-child(1){background:#F22EAE;width:70px;}
dl.concept_in_right dd:nth-of-type(2) ul li:nth-child(2){background:#D70CF2;width:90px;}
dl.concept_in_right dd:nth-of-type(2) ul li:nth-child(3){background:#27DEF2;width:170px;}
dl.concept_in_right dd:nth-of-type(2) ul li:nth-child(4){background:#E8FFF9;width:120px;}
dl.concept_in_right dd:nth-of-type(2) ul li:nth-child(5){background:#BFF272;width:70px;}


dl.concept_in_right dd:nth-of-type(3)>ul>li{font-size:22px;margin-right:50px;float:left;}
dl.concept_in_right dd:nth-of-type(3)>ul>li>ul>li{margin-bottom:10px;}
dl.concept_in_right dd:nth-of-type(3)>ul>li:first-child>ul>li:nth-child(1){font-family:'Pacifico';font-size:30px;font-style: italic;}
dl.concept_in_right dd:nth-of-type(3)>ul>li:first-child>ul>li:nth-child(2){font-family:'Samlip';}
dl.concept_in_right dd:nth-of-type(3)>ul>li:first-child>ul>li:nth-child(3){font-family:'SCDream6';}
dl.concept_in_right dd:nth-of-type(3)>ul>li:last-child>ul>li:nth-child(1){font-family:'NanumBarunGothicBold';}
dl.concept_in_right dd:nth-of-type(3)>ul>li:last-child>ul>li:nth-child(2){font-family:'NanumBarunGothic';}
dl.concept_in_right dd:nth-of-type(3)>ul>li:last-child>ul>li:nth-child(3){font-family:'NanumBarunGothicLight';}
dl.concept_in_right dd:nth-of-type(3)>ul>li:last-child>ul>li:nth-child(4){font-family:'NanumBarunGothicUltraLight';}



/*____________________________________워크 프로세스*/
section#process{
	background:url(../image/3.design/ui_7/ui_7_process.jpg) center center no-repeat;
}
section#process h4{color:#999;padding:70px 0 0 40px;}
section#process hr{
	background:#999;
	margin:10px 50px;
}
section#process .section_in div{
	margin-left:50px;
}

/*____________________________________아웃풋*/
section#output{
	background:#BFF272;
	font-size:12px;
	height:1650px;
}
section#output h4{padding:70px 0 0 40px;}
section#output hr{
	margin:10px 50px 0;
	background:#333;
}

/*작업 해상도 안내*/
section#output>.section_in>div{margin:20px  0 20px 50px;}


section#output ul{float:left;}
section#output ul.output_detail_left,
section#output ul.output_detail_right{
	width:190px;
	line-height:20px;
	font-family: 'NanumBarunGothicLight';
}

/*좌측 디테일 설명*/
section#output ul.output_detail_left{margin:0 10px 0 40px;text-align:right;}
/* section#output ul.output_detail_left li{border:1px solid greenyellow;} */
section#output ul.output_detail_left li.output_subtitle{
	font-size: 18px;
	font-family: 'NanumGothicBold';
}
section#output ul.output_detail_left li:nth-child(2){margin-top:670px;}

/*아웃풋 결과물 이미지*/
section#output ul.output_img{width:800px;}
section#output ul.output_img li:first-child{margin-bottom:50px;}
