@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@font-face {
    font-family: INK;
    src: url(../font/INKLIPQUID.woff);
}
@font-face {
    font-family:NanumBarunGothic;
    src: url(../font/NanumBarunGothic.woff);
}
@font-face {
    font-family:NanumBarunGothicBold;
    src: url(../font/NanumBarunGothicBold.woff);
}
@font-face {
    font-family:NanumBarunGothicLight;
    src: url(../font/NanumBarunGothicLight.woff);
}
@font-face {
    font-family:NanumBarunGothicUltraLight;
    src: url(../font/NanumBarunGothicUltraLight.woff);
}

body{
    color:#333;
    font-family: NanumBarunGothicLight;
    font-size:18px;
}
header{
    width:100%;
    /* min-width:1280px; */
    height:900px;
    background:radial-gradient(#ff9b4a,#ff7e42);
    padding-bottom:100px;
}
/*___비주얼___*/
#visual{
    width:1280px;
    height:900px;
    margin:0 auto;
}
/*좌측 텍스트*/
#visual .text{
    position:fixed;
    z-index: 500;
    top:300px;
    margin-left:100px;
    text-shadow:0 0 10px rgba(0,0,0,0.2);
}
.text span{
    font-weight:100;
    font-family: INK;
    color:rgb(27, 61, 255);
    display:block;
    font-size:40px;
    margin-bottom:20px;
}
.text h2{
    font-family: NanumBarunGothic;
    color:#fff;
    font-size:70px;
    line-height:90px;
}

/*우측 이미지*/
#visual .visual_bg{
    background:url(../image/1_index/visual_phone.png) no-repeat;
    background-size:contain;
    width:700px;
    height:609px;
    float:right;
    margin:100px -130px 0 0;
    position:relative;
}
.visual_bg .visual_img{
    position:relative;
    width:265px;
    height:460px;
    border-radius: 5px;
    background:#fff;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1) inset,
    -10px -10px 30px rgba(0,0,0,0.3) inset;
    transform:skew(-5deg) rotate(7.5deg);
    margin:50px 0 0 80px;
    overflow: hidden;
}
@keyframes scale{
    0%{transform:scale(1) translateX(0px);}
    100%{transform:scale(2) translateX(-300px);}
}

.visual_img .v_img1{
    position: absolute;
    top:0;
    width:600px;
    height:100%;
    background:url(../image/1_index/visual_sky.jpg) no-repeat;
    background-size: cover;
    background-position-y: -220px;
    animation: scale 20s infinite linear;
}
.visual_img .v_img2{
    position: absolute;
    top:0;
    z-index:10;
    width:100%;
    height:100%;
    padding:100px;
    background:url(../image/1_index/plane.png) no-repeat;
    background-position: -10px 100px;
    background-size:contain;
}
.visual_img div:nth-child(3){
    position:absolute;
    bottom:0;
    font-size:60px;
    font-family:NanumBarunGothicBold;
    color:rgba(0,0,0,0.4)
}
@keyframes live{
    0%{opacity:0;}
    50%{opacity:1}
    100%{opacity:0}
}
.visual_img span{
    position:absolute;
    bottom:50px;
    left:130px;
    width:15px;
    height:15px;
    border-radius: 50%;
    background:#ff5608;
    animation: live 2s infinite;
}

.talkbubble_left, .talkbubble_right{
    width: 300px;
    height: 50px;
    background: rgba(27, 61, 255);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 15px;
}
.talkbubble_left:before {
    content: "";
    position: absolute;
    right: -10px;
    top: 20px;
    width: 0;
    height: 0;
    border-bottom: 30px solid rgb(27, 61, 255);
    border-right: 30px solid transparent;
}
.talkbubble_right:before {
    content: "";
    position: absolute;
    left: -10px;
    top: 20px;
    width: 0;
    height: 0;
    border-bottom: 30px solid rgb(27, 61, 255);
    border-left: 30px solid transparent;
}
.talkbubble li{
    position:absolute;
    bottom:0px;
    opacity:0;
    color:#fff;
    text-align: center;
    line-height:50px;
}
.talkbubble li:hover{
    transform:scale(1.2);
    transition:all 1s;
}

.talkbubble li span:not(.material-icons){
    font-family:NanumBarunGothicBold;
    font-style:italic;
}
.talkbubble li .material-icons{
    vertical-align: middle;
}
.talkbubble li:nth-child(1){bottom:0px;left:-50px;}
.talkbubble li:nth-child(2){bottom:0px;left:300px;}
.talkbubble li:nth-child(3){bottom:0px;left:-150px;}
.talkbubble li:nth-child(4){bottom:0px;left:220px;}







/*하단 more 버튼*/
.more_btn{
    clear:both;
    text-align: center;
}
@keyframes plane{
    0%{transform:translateY(-20px) rotate(180deg);opacity:0;}
    100%{transform:translateY(0px) rotate(180deg);}
}

.more_btn span{
    color:#eee;
    vertical-align:middle;
    font-size:50px;
    animation: plane 2s infinite;
}
.more_btn p{
    font-family:'Lato';
    font-size:14px;
    font-weight:300;
}



/*_____________________________________________ 섹션*/
section{overflow: hidden;width:100%;min-width:1280px;} /*적용사유:section_in .circle*/

/*___비디오___*/
section video{
    position:relative;
    z-index: -10;
    width:100%;
}

/*섹션 본문*/
#section_in{
    position:relative;
    padding-top:150px;
    width:1280px;
    height:900px;
    margin: 0 auto;
    text-align: center;
}


#section_in p:not(.section_in_title){
    line-height:26px;
    color:#666;
}
#section_in .section_in_title{
    position:relative;
    font-family: INK;
    font-size:100px;
    margin-bottom:50px;
    /* top:100px;
    opacity:0; */
}
.section_in_title>span:first-child{
    position:absolute;
    font-family:'Lato';
    font-weight:900;
    font-size:30px;
    color:#999;
    letter-spacing:-2px;
    padding-bottom:200px;
}
.section_in_title span:nth-child(2){
    position:absolute;
    right:180px;
    top:-5px;
    z-index: -100;
    display:inline-block;
    width:15px;
    height:15px;
    border-radius: 50%;
    background: #ff7b0f;
}
.circle{
    animation: circleScale 1s ease-in; /*제이쿼리 클래스 호출*/
}
@keyframes circleScale{
    0%{transform:scale(200);opacity:0;}
    /* 50%{opacity:0;} */
    100%{transform:scale(1);opacity:1;}
}


#section_in p:nth-of-type(2){
    font-size:16px;
}
#section_in p:nth-of-type(3){
    margin-top:20px;
    font-family:NanumBarunGothic;
    font-size:20px;
    line-height:40px;
}

/*버튼*/
#section_in .btn_tour{
    width:200px;
    height:50px;
    margin:50px auto;
    border-radius: 30px;
    background:rgb(27, 61, 255);
    text-align: center;
    line-height: 50px;
    color:#fff;
    box-sizing: border-box; /*호버시 아래 이미지 흔들림 방지*/
}
#section_in .btn_tour:hover{
    border:rgb(27, 61, 255) 1px solid;
    background: transparent;
    color:rgb(27, 61, 255);
    transition:0.3s all
}


/*이미지슬라이드*/
#section_in .img_slide{
    width:1280px;
    overflow: hidden;
}
.img_slide ul{width:2280px;}
.img_slide ul li{
    float:left;
    width:180px;
    height:130px;
    margin: 5px 5px;
}
.img_slide ul:last-child{
    clear:both;
    position:relative;
    left:-285px;
}