@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Gowun+Batang:wght@400;700&family=Nanum+Myeongjo:wght@400;700;800&display=swap');
.colortest div:nth-child(1){background:#004763;}
.colortest div:nth-child(2){background:#00b4ff;}
.colortest div:nth-child(3){background:#ffffff;}
.colortest div:nth-child(4){background:#eeeeee}
.colortest div:nth-child(5){background:#caf55f}

/***************Top버튼***************/
#top_btn{
    width:50px;
    height:50px;
    background-color: #fff;
    border-radius:50%;
    text-align: center;
    position:fixed;
    bottom:5px;
    right:5px;
    opacity:0.9;
}
#top_btn span{
    font-size:40px;
    line-height:50px;
    color:#999
}

#wrap{
    font-family: "Noto Sans KR";
    font-weight:300;
    color:#333;
}
h1,h2,h3,h4,h5,h6{font-weight:500;}


/***************해더***************/
header{
    width:100%;
    min-width:1280px;
    position:relative;
    height:170px;
    z-index:1000;
}
header #header_in{
    width:1280px;
    height:100px;
    margin: 0 auto;
    font-size:12px;
}
#header_in #gnb{
    float:left;
    margin: 5px 0;
    cursor:pointer;
}
#gnb .gnb_in{float:right;}
#gnb .gnb_in li{
    float:left;
    opacity:0;
    padding:0 10px;
    margin: 3px 0;
    border-left:1px solid #999;
}
#gnb .gnb_in li:first-child{border-left:none;}
.gnb_in li:hover a{
    font-weight:600;
    color:#004763;
}

#header_in #util{float:right;}
#util li{
    text-align:center;
    width:50px;
    float:left;
    color:#999;
    padding:0 10px;
    margin: 5px 0;
    border-left:1px solid #999;
}
#util li:first-child{border-left:none;}
#util li:hover a{
    color:#333;
    font-weight:400;
}

#logo{
    clear:both;
    text-align:center;
}
#logo h1{
    /* font-family: 'Noto Serif KR'; */
    font-size:30px;
}
#logo h1 span{
    font-weight:700;
    color:#004763;
}
#logo p{color:#999;}

nav{
    width:100%;
    height:50px;
    text-align:center;
    background:#004763;
}
nav .top_nav{
    min-width:1280px;
    /* height:50px; */
    margin:10px auto 0;
    text-align:center;
}
nav .top_nav ul{display:inline-block;}
nav .top_nav>ul>li{
    cursor:pointer;
    float:left;
    width:165px;
    line-height:50px;
    font-size:18px;
    color:#fff;
}
.top_nav li .sub_nav{
    position:absolute;
    font-size:13px;
    display:none;
    height:400px;
    width:165px;
    border-right:solid 1px #ccc;
}
.top_nav li .first{
    border-left:solid 1px #ccc;
}
.sub_nav>li{
    /* width:165px; */
    height:40px;
    line-height:40px;
    color:#333;
}
.sub_nav>li:hover{
    background:#caf55f;
    font-weight:400;
    transition: background 0.5s;
}

header .bg_box{
    display:none;
    width:100%;
    height:400px;
    background:#fff;
    /* background:rgba(255,255,255,0.9); */
    box-shadow:0px 10px 20px rgba(117, 117, 117, 0.1);
}


/***************섹션***************/
#section1,#section2,#section3,#section4{width:1280px;margin:0 auto;}
#section1{
    height:500px;
}
#section1 h3{
    font-size:16px;
    margin-top:20px;
    margin-left:20px;
}
#section1 #visual{
    position:relative;
    overflow:hidden;
    float:left;
    width:640px;
    height:500px;
    background:#ccc;
    border-radius:10px 0 0 10px;
}
#visual .v_slide{
    position:absolute;
    width:1920px;
}
#visual .v_slide li{
    float:left;
    width:640px;
    height:500px;
}
.v_slide .v1{
    background:url(../image/visual01.jpg) no-repeat;
    background-size:cover;
}
.v_slide .v1 p:first-child{
    margin-top:150px;
    padding-left:20px;
    font-size:40px;
    font-weight: 300;
    /* line-height: 40px; */
}
.v_slide .v1 p span{
    font-weight:500;
    background:rgba(0,0,0,0.6);
    color:#caf55f;
    display:inline-block;
    width:200px;
    height:60px;
    text-align:center;
}
.v_slide .v1 p:last-child{
    padding:20px;
    font-size:18px;
}
.v_slide .v2{
    background:url(../image/visual02.jpg) no-repeat;
    background-size:cover;
}
.v_slide .v2 div{
    width:320px;
    height:500px;
    background:rgba(0,0,0,0.6);
}
.v_slide .v2 p:first-child{
    padding:30px;
    font-size:32px;
    color:#fff;
    font-weight:300;
}
.v_slide .v2 p:first-child span{
    font-size:40px;
    font-weight:600;
    border-bottom: 3px solid #caf55f;
}
.v_slide .v2 p:last-child{
    padding:30px;
    color:#fff;
    line-height: 30px;;
}
.v_slide .v3{
    background:url(../image/visual03.jpg) no-repeat;
    background-size:cover;
}
.v_slide .v3 div{
    width:640px;
    height:200px;
    background:rgba(0,0,0,0.6);
}
.v_slide .v3 p:first-child{
    margin-top:200px;
    padding:0 30px;
    font-size:32px;
    color:#fff;
    font-weight:500;
}
.v_slide .v3 p:first-child span{
    font-size:40px;
    color:#caf55f;
    font-weight:600;
    border-bottom: 3px solid #caf55f;
}
.v_slide .v3 p:last-child{
    padding:30px;
    color:#fff;
    line-height: 30px;;
}



#visual .v_slide_btn{
    position:absolute;
    bottom:20px;
    left:500px;
}
#visual .v_slide_btn li{
    float:left;
    width:7px;
    height:7px;
    border:solid 1px #fff;
    border-radius:50%;
    margin:0 3px;
    cursor:pointer;
}
#visual .v_slide_btn li.active{
    background:#fff;
    width:21px;
    border-radius:10px;
}

.stop, .play{
    color:#fff;
    text-align:center;
    position:absolute;
    bottom:11px;
    left:560px;
}
.playstop span{font-size:18px;}


#section1 .main_box1, #section1 .main_box2{
    float:left;
    width:320px;
    height:250px;
    position:relative;
}

.main_box1{
    color:#eee;
    background:#00a2e7;
}
.main_box2{
    color:#fff;
    background:#00668f;
    border-radius:0 10px 0 0;
    overflow:hidden;
}
.main_box1>h3, .main_box2>h3{
    position:absolute;
    top:-15px;
    left:0;
    z-index:100;
}

.box1_bg, .box2_bg{
    position:absolute;
    width: 0;
    height: 0;
    border-left: 320px solid transparent;
}
.box1_bg{border-bottom: 250px solid #0085b9;}
.box2_bg{border-bottom: 250px solid #004763;}

.circle1, .circle2{
    width:200px;
    height:200px;
    position:absolute;
    top:35px;
    left:60px;
    z-index:10;
    border-radius:50%;
}
.circle1{
    background:linear-gradient(135deg,#0098d8 60%,#00b4ff 100%);
    box-shadow:5px 5px 5px #0076a8 inset;
}
.main_box1 img{
    position:absolute;
    z-index:20;
    top:50px;
    left:80px;
    width:50%;
}
.main_box1 span{
    position:absolute;
    left:95px;
    top:180px;
    z-index: 30;
}
.main_box1 .bar{
    position:absolute;
    left:120px;
    top:190px;
    z-index: 30;
    width:100px;
    height:5px;
    background:#fff;
    border-radius:10px;
}
.main_box1 .playing{
    width:0px;
    height:5px;
    background:#caf55f;
    border-radius:10px;
}
.main_box1:hover h3{
    left:70px;
    color:#caf55f;
    transition:all 1s;
}
.main_box1:hover .playing{
    width:100px;
    transition:all 2s;
}

.circle2{
    background:linear-gradient(135deg,#004763,#00668f);
    box-shadow:2px 2px 5px #004763 inset;
}

.circle2_in{
    width:180px;
    height:180px;
    position:absolute;
    z-index:20;
    top:45px;
    left:70px;
    border-radius:50%;
    /* border:1px solid red; */
    overflow: hidden;
}
.circle2_in img{
    position:absolute;
    top:30px;
}
.main_box2:hover h3{
    color:#caf55f;
    left:70px;
    transition:all 1s;
}
.main_box2:hover .circle2_in>img{
    top:-20px;
    transition:all 1s;
}



.main_box3{
    text-align:center;
    box-sizing: border-box;
    float:left;
    width:640px;
    height:250px;
    background:#fff;
    box-shadow: 0px 5px 10px #eee;
    border-radius:0 0 10px 0;
}
.main_box3_in{margin:20px;}
.main_box3_in select, input{
    border:solid 1px #999;
    border-radius:20px;
    height:30px;
    text-indent:10px;
    margin:0 2px;
}
.main_box3_in select{width:85px;}
.main_box3_in button{
    height:30px;
    width:70px;
    border:none;
    border-radius:20px;
    background-color:#004763;
    color:#fff;
    cursor:pointer;
}
.main_box3_in button span{
    font-size:16px;
}
.main_box3_in p{
    font-size:12px;
    font-weight: 100;
    margin:10px;
}
.main_box3 .animal_search{
    float:right;
    margin:30px 50px;
    font-weight:400;
    color:#00b4ff;
}


#section2{margin-top:20px;}
#board{
    width:630px;
    height:300px;
    margin-right:20px;
    float:left;
    position:relative;
}
.board_in{
    height:260px;
    border-radius:0 0 10px 10px;
    box-shadow:0px 10px 10px #eee;
    background:#fff;
}
#board .tab_menu{
    width:630px;
    height:40px;
}
#board .tab_menu li{
    position:absolute;
    float:left;
    width:320px;
}
#board .tab_menu li:first-child{left:0;}
#board .tab_menu li:last-child{right:0;}
#board .tab_menu li a{
    display:block;
    position:absolute;
    width:320px;
    height:40px;
    border-radius:20px 20px 0 0;
    box-shadow:0px -5px 5px rgba(0,0,0,0.2);
    text-align: center;
    line-height:40px;
    background:#004763;
    color:#fff;
    font-weight: 100;
}
#board .tab_menu  .selected{
    color:#004763;
    z-index:10;
    background:#fff;
    font-weight:600;
    font-size:16px;
}
.board_in{overflow: hidden;}
.board_in .btn_more{
    text-align: right;
    margin-right:10px;
    height:15px;
    /* border:solid 1px red; */
}
.board_in .btn_more span{
    font-size:30px;
    color:#999;
}
#board1 .list{margin:0 20px;}
#board1 .list>li{
    float:left;
    line-height:26px;
    /* padding-right:7px; */
}
.list>li:not(:first-child){text-indent:9px;}
.list .list_title{
    text-align:center;
    border-bottom:3px solid #004763;
}
.contents>li{
    border-bottom: solid 1px #ccc;
}
.link li{color:#ccc;}
.link li:hover{
    font-weight: 400;
    color:#333;
}


#board2 ul{
    /* border:1px solid red; */
    margin:0 20px;
    line-height:30px;
}
#board2>ul>li{border-bottom: solid 1px #ccc;}
#board2>ul>li>span{
    padding-right:10px;
    vertical-align: middle;
}

#board2 ul li:hover{font-weight: 600;}

#protection_img{
    float:left;
    width:630px;
    height:300px;
    box-sizing:border-box;
    border-radius:10px;
    box-shadow:-5px -5px 10px #eee,
    5px 5px 10px #eee;
}
#protection_img .headstyle2{
    font-size:16px;
    font-weight:400;
    width:630px;
    height:40px;
    line-height:40px;
    display: inline-block;
}
.headstyle2>span{
    text-indent:20px;
    color:#004763;
    font-weight:600;
    float:left;
}
.headstyle2 .btn_more2{
    float:right;
}
.btn_more2 span{
    width:40px;
    height:40px;
    text-align:center;
    line-height: 40px;
    font-size:30px;
    color:#999;
}
#protection_img .slide_btn{
    width:35px;
    height:230px;
    float:left;
    font-size:30px;
    line-height:230px;
    text-align:center;
    cursor:pointer;
}
.slide_btn:hover{
    background:rgba(75, 75, 75, 0.1);
    transition: all 0.5s;
}

#protection_img .image_slide{
    float:left;
    text-align: center;
    /* margin-left:30px; */
    margin-top:10px;
    width:560px;
    overflow: hidden;
}
.image_slide ul{
    margin-right:10px;
    width:1710px;
    position:relative;
    left:-190px;
}
.image_slide li{
    float:left;
    position:relative;
}
.image_slide img{
    width:180px;
    height:180px;
    margin-right:10px;
    border-radius:10px;
}
.image_slide p{
    margin-top:10px;
    padding-bottom:10px;
}
.image_slide span{
    display:block;
    width:0%;
    border-bottom:solid 5px #caf55f;
    position:absolute;
    top:215px;
	left:50%;
	opacity:0;
	transform:translateX(-50%);
	transition:all 0.4s;
}
.image_slide li:hover span{
    border-bottom:solid 5px #caf55f;
    opacity:1;
    width:80%
}


#section3{
    width:1280px;
    height:400px;
    text-align: center;
    margin: 20px auto;
    position:relative;
    overflow: hidden;
}
#section3 .bg li{
    width:1163px;
    height:400px;
    position:absolute;
    z-index:-10;
    top:0;
    left:58.5px;
    border-radius:10px;
}



.bg01{
    display:block;
    background:url(../image/bg01.jpg) no-repeat;
    background-size: cover;
    background-position-y:-300px;
}
.bg02{
    background:url(../image/bg02.jpg) no-repeat;
    background-size: cover;
    background-position-y:-200px;
}
.bg03{
    background:url(../image/bg03.jpg) no-repeat;
    background-size: cover;
    background-position-y:-200px;
}
.bg04{
    background:url(../image/bg04.jpg) no-repeat;
    background-size: cover;
    background-position-y:-150px;
}

#section3 .textbox{
    border-radius:10px;
    display:inline-block;
    box-shadow:-5px -5px 10px #eee,
    5px 5px 10px #eee;
}
#section3 .textbox li{
    width:290px;
    height:400px;
    color:#fff;
    border-left:solid 1px #fff;
    float:left;
}
#section3 .textbox li h4{
    width:200px;
    position:absolute;
    font-size:24px;
    margin:150px 45px;
    z-index:1000;
}
#section3 .textbox li h4 span{
    font-size:16px;
    font-weight:300;
}
.menu_block{
    position:absolute;
    top:400px;
    width:290px;
    height:400px;
    background:rgba(0,0,0,0.6);
    box-sizing:border-box;
    z-index:100;
    border-radius:10px;
}
.menu_block .btn_move{
    width:100px;
    height:30px;
    margin:230px auto 0;
    border:solid 1px #fff;
    border-radius:5px;
    line-height: 30px;
    font-weight:400;
}
.menu_block .btn_move:hover{
    background-color:#fff;
    color:#333;
    transition:all 0.5s;
}
.menu_block p{
    width:250px;
    height:100px;
    text-align:left;
    margin: 20px auto;
    color:#ccc;
}


#section4{margin-bottom:50px;}
#section4 .sec4_list{
    width:630px;
    height:80px;
    float:left;
    overflow: hidden;
}
#section4>ul>li:first-child{margin-right:20px;}

#section4 .sec4_menu{
    width:1260px;
    height:80px;
}
.sec4_menu li{
    float:left;
    width:630px;
    height:80px;
    background:#004763;
    border-radius:10px;
    color:#fff;
    text-align:center;
    font-size:20px;
    font-weight: 400;
    line-height: 80px;
    /* box-shadow:-5px -5px 10px #eee,
    5px 5px 10px #eee; */
}
.sec4_menu li:nth-child(2){background:#caf55f;}
.sec4_menu>li>p:first-child{
    text-align: left;
    font-size:12px;
    line-height:normal;
    color:#666;
    width:400px;
    height:60px;
    font-weight:300;
    padding-left:20px;
    padding-top:10px;
    float:left;
}
.sec4_menu>li>span{vertical-align:middle;}
.btn_detail{

    float:right;
    color:#666;
    font-size:16px;
    margin-right:30px;
    font-weight:500;
}
.btn_detail:hover{
    color:#004763;
    font-weight:600;
}

footer{
    width:100%;
    /* min-width:1280px; */
    background-color: #eee;
}
#footer_in{
    width:1280px;
    height:200px;
    margin:0 auto;
}
#footer_in .footerL{
    float:left;
    margin:20px;
    font-size:12px;
}
#footer_in ul li{
    margin: 10px 0;
    float:left;
    padding: 0 10px;
    border-left:1px solid #999;
}
#footer_in ul li:first-child{
    margin-left:40px;
    border-left:none;
}
#footer_in ul li:hover{font-weight:500;}
address{
    clear:both;
    margin-left:50px;
    font-style:normal;
}
#footer_in .footerR{
    float:right;
    margin:20px;
    color:#666;
}
.footerR h6{
    text-align:center;
    font-size:20px;
}
.footerR h5{
    text-align:center;
    font-size:20px;
    color:#004763;
    font-weight:600;
}
.footerR p span{
    vertical-align:middle;
    padding: 5px 5px;
}